h1, h2, h3, h4, h5, h6 {
  font-weight: 300; 
}
html {
  background: #f7f7f7;
}
.content {
  padding: 0 5% 5% 5%;
  margin-top: 10%;
  height: 100%;
  color: #222;
  overflow: auto;
  background: #f7f7f7;
}
.posts {
  padding-left: 0px;
}
.posts h1 {
  margin: 0; 
}
.posts li {
  list-style: none;
  margin-bottom: 2rem;
  margin-bottom: 32px; 
}
.posts li:last-child {
  margin-bottom: 0; 
}
@media only screen and (max-width: 640px) {
  .content {
    height: auto;
    width: 100%;
    float: none;
    position: static; }

  .content {
    margin-left: 0; 
  } 
}

h1,
h2,
h3 {
  font-weight: normal;
  margin: 0; }

/**
 * Component: Card
 * --------------------------------------------------
 */
.c-card {
  position: relative;
  overflow: hidden;
  padding-bottom: 34%;
  /*border-radius: 1vw;*/
  background-color: #fff;
  box-shadow: 0 12px 6px -6px rgba(0, 0, 0, 0.2) !important;
  border-bottom: 2px solid #d1d1d2;
}

.c-card__header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  padding-bottom: 17.25%;
  background: #fb3c2d;
/*  background: url('/img/JS_logo.png');
  background-size: cover;*/
}
.c-card__header:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.35); 
}
.c-card__header:after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 150%;
  height: 100%;
  background-color: #fff;
  transform: rotate(-3.5deg);
  transform-origin: 0 0; 
}
.c-card__title {
  font-size: 2vw;
  font-weight: 300;
  line-height: 1;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 4.25%;
  width: 90%;
  padding-top: 4%;
  color: #fff;
  text-transform: uppercase;
  transform-origin: 0 0; 
}
.c-card__content {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-bottom: 25.75%; 
}
.c-card__details {
  position: absolute;
  top: 65%;
  right: 6.25%;
  left: 6.25%;
  margin: 0;
  transform: translateY(-50%); 
}
.c-card__description {
  font-size: 1.2vw;
  font-weight: 300;
  line-height: 1;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 4.25%;
  width: 75%;
  padding-top: 10%;
  color: #fff;
}
.c-card__amount {
  font-size: 1.3vw;
  font-weight: 300;
  line-height: 1;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 4.25%;
  width: 75%;
  padding-top: 13%;
  color: #fff;
}
/**
 * Component: Button
 * --------------------------------------------------
 */
.c-button {
  -webkit-appearance: none;
  margin: 0;
  border: 0;
  overflow: visible;
  font: inherit;
  text-transform: none;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  user-select: none; 
}
.c-button:hover, .c-button:focus {
  outline: none;
  text-decoration: none; 
}
.c-button:not(:disabled) {
  cursor: pointer; 
}

/**
 * Component: Button
 * Modifier: Dropdown
 * --------------------------------------------------
 */
.c-button--join {
  position: absolute;
  right: 6.25%;
  bottom: 15%;
  z-index: 10;
  background-color: #2e3639;
  padding: 1vw 2vw;
  color: #E6E9ED;
  font-size: 1vw;
  font-weight: 600;
  line-height: 1;
  border-radius: 0.5vw;
  transition: background-color .2s linear;
  transform: rotate(-3.5deg);
  transform-origin: 0 0; 
}
.c-button--join:hover {
  background-color: #000; 
}
/**
 * NavBar styles
 * --------------------------------------------------
 */
 .navbar-inner li {
  line-height: 40px;
  letter-spacing: 2px; 
}
.nav-link {
  border-top: 4px solid white;
  transition: border-top .3s; 
}
.nav-link:hover {
  border-top: 4px solid #6c1d5f; 
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
  background-image: none;
  background-color: #6c1d5f; 
}
.navbar-brand {
  line-height: inherit;
  padding: 7px;
}
.brand {
  letter-spacing: 4px;
  border-top: 4px solid white;
  transition: border-top .3s; 
}
.brand:hover {
  border-top: 4px solid #6c1d5f; 
}
.brand:hover {
  border-top: 4px solid #6c1d5f; 
}
.header {
  background-color: rgba(255, 255, 255, 0.90);
  background-image: none !important;
  border-bottom: 2px solid #6c1d5f !important;
  line-height: 40px !important;
  box-shadow: 0 12px 6px -6px rgba(0, 0, 0, 0.2) !important;
}
.nav>li>a:hover {
  background-color: transparent;
}

/**
 * Google CSE Styling
 * --------------------------------------------------
 */
.blog-search #___gcse_0 {
  height: 6px;
}
.blog-search form {
  text-align: center;
}
.box{
  margin: 0 auto;
  width: 90%;
  height: 50px;
}
.container-1{
  width: 90%;
  margin: 0 auto;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.container-1 input#search{
  outline: none;
  width: 100%;
  height: 50px;
  background: #4e1440;
  border: none;
  font-size: 10pt;
  color: white;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}
.container-1 input#search::-webkit-input-placeholder {
   color: #65737e;
}
.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
.container-1 input#search:-ms-input-placeholder {  
   color: #65737e;  
}
.container-1 .icon{
  position: relative;
  top: 50%;
  margin-right: -36px;
  z-index: 1;
  color: #4f5b66;
}


/* initially hide animatable objects */
.animatable {
  visibility: hidden;
  -webkit-animation-play-state: paused;        
  -moz-animation-play-state: paused;        
  animation-play-state: paused; 
}

/* show objects being animated */
.animated {
  visibility: visible;
  
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

@-webkit-keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }

  60% {
    -webkit-transform: translateX(-20px);
  }

  80% {
    -webkit-transform: translateX(5px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(120px);
  } 100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

.animated.bounceInRight {
  -webkit-animation-name: bounceInRight;
  -moz-animation-name: bounceInRight;
  -o-animation-name: bounceInRight;
  animation-name: bounceInRight;
}

.animated.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
