/**
 * Font Faces
 * --------------------------------------------------
 */
@font-face {
    font-family: Scribble;
    src: url(scribble_box_demo.ttf);
}
@font-face {
    font-family: Scribble;
    src: url(GREENPIL.TTF);
}
/**
 * Aside styling
 * --------------------------------------------------
 */
.accordion * {
  margin: 0; padding: 0;
}
.accordion {
  width: 100%;
  margin: 20px auto;
}
.accordion h1, h2, h3, h4 {
  cursor: pointer;
}
.accordion h2, h3, h4 {
  font-family: "News Cycle";
}
.accordion h1 {
  padding: 15px 20px;
  background-color: #5dba9d;
  font-family: Lobster;
  font-size: 1.5rem;
  font-weight: normal;
  color: #fff;
}
.accordion h1:hover {
  color: #fff;
}
.accordion h1:first-child {
  
}
.accordion h1:last-of-type {
  
}
.accordion h1:not(:last-of-type) {
  border-bottom: 1px solid white;
}
.accordion div, .accordion p {
  display: none;
}
.accordion h2 {
  padding: 5px 25px;
  background-color: #1abc9c;
  font-size: 1.1rem;
  color: #333;
}
.accordion h2:hover {
  background-color: #09ab8b;
}
.accordion h3 {
  padding: 5px 30px;
  background-color: #b94152;
  font-size: .9rem;
  color: #ddd; 
}
.accordion h3:hover {
  background-color: #a93142;
}
.accordion h4 {
  padding: 5px 35px;
  background-color: #ffc25a;
  font-size: .9rem;
  color: #af720a; 
}
.accordion h4:hover {
  background-color: #e0b040;
}
.accordion p {
  padding: 15px 35px;
  background-color: #ddd;
  font-family: "Georgia";
  font-size: .8rem;
  color: #333;
  line-height: 1.3rem;
}
/**
 * Posts styling
 * --------------------------------------------------
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300; 
}
.no-see {
  display: none;
}
html {
  background: #F2F2F2;
}
.content {
  padding: 0 2% 5% 2%;
  margin-top: 10%;
  height: 100%;
  color: #222;
  overflow: auto;
  background: #F2F2F2;
}
.posts {
  padding-left: 0px;
}
.posts h1 {
  margin: 0; 
}
.posts li {
  list-style: none;
  border-bottom: 1px solid #ccc;
  margin: 4rem auto;
  padding-bottom: 4rem;
  position: relative; 
}
.posts li:after {
  content: "";
  display: block;

  /* The circle */
  width: 7px;
  height: 7px;
  background: #FFF;
  border: 1px solid #aaa;
  box-shadow: #FFF 0 0 0 10px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  
  /* Put in the middle of post's border bottom */
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
}
.posts li:last-child {
  margin-bottom: 0; 
}
@media only screen and (max-width: 640px) {
  .content {
    height: auto;
    width: 100%;
    float: none;
    position: static; }

  .content {
    margin-left: 0; 
  } 
}

h1,
h2,
h3 {
  font-weight: normal;
  margin: 0; }

/**
 * Card stying
 * --------------------------------------------------
 */
.c-card {
  position: relative;
  overflow: hidden;
  padding-bottom: 34%;
  background-color: #fff;
  box-shadow: 0 12px 6px -6px rgba(0, 0, 0, 0.2) !important;
  border-bottom: 2px solid #d1d1d2;
}

.c-card__header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  padding-bottom: 17.25%;
  background: #6c1d5f;
}
.c-card__header:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.35);
}
.c-card__header:after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 150%;
  height: 100%;
  background-color: #fff;
  transform: rotate(-3.5deg);
  transform-origin: 0 0; 
}
.c-card__title {
  font-size: 2vw;
  font-weight: 300;
  line-height: 1;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 4.25%;
  width: 90%;
  padding-top: 4%;
  color: #fff;
  text-transform: uppercase;
  transform-origin: 0 0; 
}
.c-card__content {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-bottom: 25.75%; 
}
.c-card__details {
  position: absolute;
  font-size: 1vw;
  text-align: justify;
  top: 65%;
  right: 6.25%;
  left: 6.25%;
  margin: 0;
  transform: translateY(-50%); 
}
.c-card__description {
  font-size: 1.2vw;
  font-weight: 300;
  line-height: 1;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 4.25%;
  width: 75%;
  padding-top: 10%;
  color: #fff;
}
.c-card__amount {
  font-size: 1.3vw;
  font-weight: 300;
  line-height: 1;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 4.25%;
  width: 75%;
  padding-top: 13%;
  color: #fff;
}
/**
 * Card Button styling
 * --------------------------------------------------
 */
.c-button {
  -webkit-appearance: none;
  margin: 0;
  border: 0;
  overflow: visible;
  font: inherit;
  text-transform: none;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  user-select: none; 
}
.c-button:hover, .c-button:focus {
  outline: none;
  text-decoration: none; 
}
.c-button:not(:disabled) {
  cursor: pointer; 
}
.c-button--join {
  position: absolute;
  right: 2%;
  bottom: 5%;
  z-index: 10;
  color: #E6E9ED;
  font-size: 1vw;
  font-weight: 600;
  line-height: 1;
  border-radius: 50%;
  max-width: 8vw;
  border: 0.2vw solid transparent;
  box-shadow: none;
  transition: background-color .2s linear;
  transform-origin: 0 0;
}
/**
 * NavBar styling
 * --------------------------------------------------
 */
 .navbar-inner li {
  line-height: 40px;
  letter-spacing: 2px; 
}
.nav-link {
  border-top: 4px solid #fff;
  transition: border-top .3s;
  color: #fff;
}
.nav-link:hover {
  border-top: 4px solid #00a99d;
  color: #00a99d;
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
  background-image: none;
  background-color: #6c1d5f; 
}
.navbar-brand {
  line-height: inherit;
  padding: 7px;
}
.brand {
  letter-spacing: 4px;
  border-top: 4px solid white;
  transition: border-top .3s; 
}
.brand:hover {
  border-top: 4px solid white; 
}
.header {
  background-color: #4e1440;
  line-height: 40px !important;
  box-shadow: 0 12px 6px -6px rgba(0, 0, 0, 0.2) !important;
}
.nav>li>a:hover {
  background-color: transparent;
}
/**
 * Google CSE Styling
 * --------------------------------------------------
 */
#searching{
  opacity:0.0;
  position:fixed;
  bottom:100%;
  width:0%;
  height:0%;
  left:50%;
  margin-left:0%;
  z-index:9999;
  border-radius:100%;
  overflow:hidden;
  -webkit-transition: all 300ms ease; 
  -moz-transition: all 300ms ease; 
}
#searching.active{
  opacity:1.0;
  bottom:0%;
  width:100%;
  height:100%;
  top:0%;
  left:0%;
  border-radius:0;
  margin-left:0;
}
#searchThis{
  position:absolute;
  top:0%;
  left:0%;
  width:100%;
  height:55px;
  background-color:#FFF;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius:1px;
  z-index:20000;
}
#searchThis input{
  width:calc(100% - 55px);
  height:40px;
  padding-left:10px;
  margin-top:7px;
  border:none;
  outline:0;
  font-size:1em;
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  color: #333;
}
#closeSearch{
  position:absolute;
  top:0;
  right:0;
  width:55px;
  height:55px;
  text-align:center;
  line-height:55px;
  cursor:pointer;
  background:#6c1d5f;
  color:#FFF;
  font-size:2em;
}
#searchResults{
  position:absolute;
  top:55px;
  left:0;
  width:100%;
  height:calc(100% - 55px);
  background-color:rgba(0, 0, 0, 0.8);
  overflow-y:scroll;
}
#searchResults a{
  display:block;
  background-color:#FFF;
  padding:6px 15px;
  text-decoration:none;
  font-size:1.1em;
  color:#333;
}
.link{
  background: transparent;
  color:#fff;
  padding:10px;
  text-align:center;
  text-transform:uppercase;
  cursor:pointer;
  font-size:1em;
  margin-top:0%;
}
.link:hover {
  color: #00a99d;
}
#___gcse_0 .cse .gsc-control-cse, .gsc-control-cse {
  padding: 0em;
}
#___gcse_0 {
  height: 2px;
}
/**
 * Animation Effects
 * --------------------------------------------------
 */

/* initially hide animatable objects */
.animatable {
  visibility: hidden;
  -webkit-animation-play-state: paused;        
  -moz-animation-play-state: paused;        
  animation-play-state: paused; 
}

/* show objects being animated */
.animated {
  visibility: visible;
  
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}
/* webkit & moz bounceInRight keyframes */
@-webkit-keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }

  60% {
    -webkit-transform: translateX(-20px);
  }

  80% {
    -webkit-transform: translateX(5px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes bounceInRight {
  0% {
    opacity: 0;
    -moz-transform: translateX(2000px);
  }

  60% {
    -moz-transform: translateX(-20px);
  }

  80% {
    -moz-transform: translateX(5px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
/* webkit & moz fadeInUp keyframes */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(120px);
  } 100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(120px);
  } 100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

.animated.bounceInRight {
  -webkit-animation-name: bounceInRight;
  -moz-animation-name: bounceInRight;
  -o-animation-name: bounceInRight;
  animation-name: bounceInRight;
}

.animated.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
